@page {
    size: A4;
    margin: 10%;

    /* @top-left{
        content: string(Chapter);
    }
    @bottom-center {
        content: counter(page);
    } */
}

@page :left {
    margin-left: 23mm;
    margin-right: 27mm;

    @top-left{
        content: string(Chapter);
    }

    @bottom-left{
        content: counter(page) " / " counter(pages);
    }
}

@page :right {
    margin-left: 27mm;
    margin-right: 23mm;

    @top-right {
        content: string(Section);
    }

    @bottom-right{
        content: counter(page) " / " counter(pages);
    }
}

@page :first {
    @top-right{content: normal;}
    @top-left{content: normal;}
}

body{
    counter-reset: ChapterNo;
}

h1 :before{
    counter-increment: ChapterNo; 
    content: "Chapter " counter(ChapterNo);
}

h1 {
    string-set: Chapter before self;
    counter-set: SectionNo;
    bookmark-level:1;
}

h2 :before {
    counter-increment: SectionNo;
    content: counter(ChapterNo) "." counter(SectionNo);
}

h2 {
    string-set: Section before self;
    bookmark-level: 2
}

.Footnote {
    float: footnote;
}

.Hyphenated{
    hyphens: auto;
}